---
interface Props {
  title: string;
  subtitle?: string;
  class?: string;
}

const { title, subtitle, class: className = '' } = Astro.props;
---

<div class:list={['mb-12 text-center', className]}>
  <h2
    class="font-heading text-base md:text-xl text-text-primary uppercase tracking-wider neon-text-subtle mb-4"
  >
    {title}
  </h2>
  {subtitle && (
    <p class="text-text-secondary max-w-2xl mx-auto text-lg">{subtitle}</p>
  )}
</div>
